---
layout: layout-page.njk
title: Acerca
description: Acerca de la compañía
---
<h1>Página de Acerca</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero quaerat nihil esse officiis quisquam eum est aliquam earum, cupiditate accusamus quam omnis corporis necessitatibus vel quibusdam. Reiciendis debitis rem quidem.</p>

<img src="/img/eleventy-mascots.avif" alt="Mascotas de eleventy">

